.guess_panel  {
    display: flex !important;  
    align-items: center;
    justify-content: center;
}
.guess-border {
    background-color: #000 !important;
    /* border: 8px solid #000 !important; */
    /* border-radius: 16px !important; */
}
.guess-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #c5c5c5 !important;
    border-style: solid !important;
    border-width: 8px !important;
  	border-color: #ffffff #565655 #565655 #ffffff;
    margin: 8px;
    padding: 12px !important;
    gap: 24px;
}
.pixel-art {
    clip-path: polygon(
        16px 0,
        calc(100% - 16px) 0,

        calc(100% - 16px) 8px,
        calc(100% - 8px) 8px,
        calc(100% - 8px) 16px,
        100% 16px,

        100% calc(100% - 16px),
        calc(100% - 8px) calc(100% - 16px),
        calc(100% - 8px) calc(100% - 8px),
        calc(100% - 16px) calc(100% - 8px),

        calc(100% - 16px) 100%,
        16px 100%,

        16px calc(100% - 8px),
        8px calc(100% - 8px),
        8px calc(100% - 16px),
        0 calc(100% - 16px),

        0 16px,
        8px 16px,
        8px 8px,
        16px 8px
    );
}
.pixel-art-2 {
    clip-path: polygon(
    /* LT */
    0 8px, 8px 8px, 8px 0px,
    
    /* RT */
    calc(100% - 8px) 0, calc(100% - 8px) 8px, 100% 8px,
    
    /* RB */
    100% calc(100% - 8px), calc(100% - 8px) calc(100% - 8px), calc(100% - 8px) 100%,
    
    /* LB */
    8px 100%, 8px calc(100% - 8px), 0 calc(100% - 8px)
  );
}
.pixel-art-small {
    clip-path: polygon(
        12px 0,
        calc(100% - 12px) 0,

        calc(100% - 12px) 6px,
        calc(100% - 6px) 6px,
        calc(100% - 6px) 12px,
        100% 12px,

        100% calc(100% - 12px),
        calc(100% - 6px) calc(100% - 12px),
        calc(100% - 6px) calc(100% - 6px),
        calc(100% - 12px) calc(100% - 6px),

        calc(100% - 12px) 100%,
        12px 100%,

        12px calc(100% - 6px),
        6px calc(100% - 6px),
        6px calc(100% - 12px),
        0 calc(100% - 12px),

        0 12px,
        6px 12px,
        6px 6px,
        12px 6px
    );
}
.pixel-art-small-2 {
    clip-path: polygon(
    /* LT */
    0 6px, 6px 6px, 6px 0px,
    
    /* RT */
    calc(100% - 6px) 0, calc(100% - 6px) 6px, 100% 6px,
    
    /* RB */
    100% calc(100% - 6px), calc(100% - 6px) calc(100% - 6px), calc(100% - 6px) 100%,
    
    /* LB */
    6px 100%, 6px calc(100% - 6px), 0 calc(100% - 6px)
  );
}