.result-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #8a8a8a !important;
    border-style: solid !important;
    border-width: 6px !important;
  	border-color: #ffffff #565655 #565655 #ffffff;
    margin: 6px;
    padding: 12px;
}
.result-table{
    width: auto;
    min-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
}

.result-table td {
    padding: 0;
}

.result-table-cell {
    width: 20px;
    height: 20px;
    background: #3c3c3c;
    border: 3px solid #292929;
    padding: 8px;
}

/* STATUS */
.result-table-cell.correct {
    background: #409143 !important;
}

.result-table-cell.partial {
    background: #c09b3d !important;
}

.result-table-cell.wrong {
    background: #af3634 !important;
}