.guess-table {
    display: flex;
    width: auto;
    min-width: 300px;
    table-layout: fixed;
    border-collapse: separate;
    /* background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAMQAAAAPCAAAAACe4j/AAAAEuElEQVRIx1WWS5Ibuw5EtddrdRRJJE4iSKrb4c2/AUuy30iK+jEBHCTwAICMCgAKiGhKVQUwKzJHQo4mQGBy7AIvk1E2AQKhFt6bUGD1gILy0DkD4dmzACkGyzCScgFgQmLZr4LpQpC56QB2wgSYE8i1fd6xd1yPHIAKwAs14Undx2LIHK0X6vdFbzTa6CNBLQE8Y5rapn7oAl3KSDKC6cLfL6sLnIVG7ffnyUgvQ6rwLjUZdIVqWz0iEXXCZ+TJsV8feUdoPHDk+a/IeAbq0ldLT59jtHweHwmKS6gFSUYCqKcVsPami1pEnqolkCMBiAS87FXTICp03geYUr8TV8un3KuyC0BfTUzihOCdwjUya1bkT9VWe+AaFOoJzHdtERXRe/eulyEDhC6pjYwr+JQuIDU9/0wQBnJEAkd+9i6IRTJrV7YWnGfwLA6ESphkBoCu88M0YH1CTTOiRUpDdwpGkkP5yL9phhwn+QVxDarAXq513y9bLKgxBGR/CjDyMl4ECd6lO82CaMLbEHGHp1R8ePDERj392ssaCOigNjJ+dXXl6OLUFfVx6dA1BFJLlHpkUHPam095C3QJLIjn6OLIOB3xe0JS85Zd+govg1/z/UhtG3RdVW98yxNp5I0Vtf/U+6y/dJ/yHtSK4q7G9ARscC3/Df/kXTwiT3d6ovjEISLJIVEvBwWeCXlALZTbpy85xqWuf3sNiBBUmYjI+BqN6aNQqDWpipSYf3W1nOV/WALoykjIiCPreSn97UigsjZdPA5s3AmCDIxaVO0Fa1fV/qkaiijPPz/bEeRyLSBDI8K8j37TO8aH7vmOqUUQ1DboYhvqd+FlFGEo+2T75MbLGnjvPeu7Pl521Ap14dcR3h7p75qv4xieqnNDoyCPLt/yKkf5gOUXl+6S3d9Syq/982fz+fhpsm28C5EhJcxsWWQke6KoPMA7tqm7kKcrn6FLhWcoqCNCxDPyQ8wEKR73nIlEX8GpARSJX7/rzeNtWPD/Dl2IwtOYMwV7osGsHYJanzeU7KqIZVCTcrT0IEbyD4d1e1dkBtW2qLhLXK7a1ogDqsjI1DR4PY7nHEqfF9tn8HUJL+eQ/lGOXdwI1++57CqgmDaReM9CZYLAk4D4ymqti4KZI9Htz9OnrcuOhCQEqJfXaxHPAFG/l/ee1GFJPXmPryYUiUGPutnRGXkagmnjHk5RNpm7xxiclm6CjJEQ4+MD4xPmuT9Ef4b3YT3B51a7d4Np76PF0cavuC+SoaH6PlilipEakoJBJETWT3k7Hf+1REPj2fIx95t5ct6u9S5v3KM2fv2Ve29ax9yC98zT2IZot61MHyYtdPF92nguZ29xfcVxSu9Nj5Gl8G3wcVoW8n1Q/f6BHFEAyy5R2aRIdYH8XfV4453vHKcnqarXPD6mdrD0rlVV5xBPF2xuJM5Oo0SdaaqGMjJva7ii6bYv74IzPMo5pGebpu72ghypwTR+WWDuhQOkFijGyAzF3GXh11lEH0hkPINZivpTqLEtVm2j1hVcn/S0//q0es5dbyxOErxKivQ+bHotvzcT3/XztPf20XqG6fJZMePT2X6ts+nlm9LoSYHMiHuJjGXniB7v2fo/5qT4nuxYg6AAAAAASUVORK5CYII=); */
    background: #8a8a8a;
    border-spacing: 8px;
    border-style: solid !important;
    border-width: 8px !important;
  	border-color: #ffffff #565655 #565655 #ffffff;
    margin: 8px;
    padding: 8px;
    font-family: 'Minecraftia', monospace !important;
}

.table-responsive{
    width: auto;
    min-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
}


.guess-table th {
    color: #000000;
    font-family: "Minecraftia Regular";
    font-size: 18px !important;
    font-weight: bold !important;
    text-align: center;
}
.guess-table td {
    padding: 0;
}

.guess-table-cell {
    min-width: 96px;
    height: 96px;
    background: #2b2b2b;
    border: 6px solid #292929;
    box-shadow:
        inset 6px 6px 0 #8b8b8b,
        inset -6px -6px 0 #555;
    color: #000;
    font-family: "Minecraftia Regular";
    font-size: 12px;
    font-weight: bold;
    border-radius: 16px !important;
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    text-align: center;
    vertical-align: middle;
    padding: 8px;
}
.guess-table-cell img {
    max-width: 90px;
    max-height: 90px;
    object-fit: contain; 
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

/* STATUS */
.guess-table-cell.correct {
    background: #409143 !important;
}

.guess-table-cell.partial {
    background: #c09b3d !important;
}

.guess-table-cell.wrong {
    background: #af3634 !important;
}

.guess-table-cell.wrong.up::before {
    content: "▲";
    position: absolute; 
    color: #000000de;
    left: 50%;
    transform: translateX(-50%) scaleX(3) scaleY(1.5);
    bottom: 50%;
    margin-bottom: 8px;
}
.guess-table-cell.wrong.down::after {
    content: "▼";
    position: absolute;
    color: #000000de;
    left: 50%;
    transform: translateX(-50%) scaleX(3) scaleY(1.5);
    top: 50%;
    margin-top: 8px;
}