.btn-xl {
    width: 224px;
    height: 80px;
    font-size: 2rem !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    text-align: center !important;
    padding: 0px !important;
    line-height: 1 !important;
    margin: 10px;
}

body {
    background-color: #1a1a1a !important;
    background-image: url('/img/background.jpg') !important;
    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
}