/*
      www.OnlineWebFonts.Com 
      You must credit the author Copy this link on your web 
      <div>Font made from <a href="http://www.onlinewebfonts.com/fonts">Web Fonts</a>is licensed by CC BY 4.0</div>
      OR
      <a href="http://www.onlinewebfonts.com/fonts">Web Fonts</a>

      CSS rules to specify fonts

      font-family: "Minecraftia Regular";;

*/

@font-face{
    font-family: "Minecraftia Regular";
    src: url("/fonts/WebFonts/bf3f245b7cd53caea0cb07d265a64adc.eot.eot");
    src: url("/fonts/WebFonts/bf3f245b7cd53caea0cb07d265a64adc.eot?#iefix")format("embedded-opentype"),
        url("/fonts/WebFonts/bf3f245b7cd53caea0cb07d265a64adc.woff")format("woff"),
        url("/fonts/WebFonts/bf3f245b7cd53caea0cb07d265a64adc.woff2")format("woff2"),
        url("/fonts/WebFonts/bf3f245b7cd53caea0cb07d265a64adc.ttf")format("truetype"),
        url("/fonts/WebFonts/bf3f245b7cd53caea0cb07d265a64adc.svg#Minecraftia Regular")format("svg");
    font-weight:normal;
    font-style:normal;
    font-display:swap;
}

@font-face {
    font-family: "MinecraftCopyright";
    src: url("/fonts/MinecraftCopyright.otf") format("opentype");
    unicode-range: U+00A9;
}