.guess_table {
    width: auto;
    min-width: 300px;
    table-layout: fixed;
    border-collapse: separate;
    background: #555;
    padding: 10px;
    border-spacing: 6px;
    border: 6px solid #000 !important;
    border-radius: 16px !important;
    font-family: 'Minecraftia', monospace !important;
}

.table-responsive{
    width: auto;
    min-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-x: auto;
}


.guess_table th {
    color: #d1d0d0;
    font-size: 18px !important;
    font-weight: bold !important;
    text-align: center;
}
.guess_table td {
    padding: 0;
}

.guess_table_cell {
    min-width: 96px;
    height: 96px;
    background: #2b2b2b;
    border: 6px solid #292929;
    box-shadow:
        inset 6px 6px 0 #8b8b8b,
        inset -6px -6px 0 #555;
    color: #000;
    font-size: 14px;
    font-weight: bold;
    border-radius: 16px !important;
    
    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
    text-align: center;
    vertical-align: middle;
    padding: 8px;
}
.guess_table_cell img {
    max-width: 90px;
    max-height: 90px;
    object-fit: contain; 
    -webkit-filter: drop-shadow(5px 5px 5px #222);
    filter: drop-shadow(5px 5px 5px #222);
}

/* STATUS */
.guess_table_cell.correct {
    background: #409143 !important;
    /* background: #5fbb62 !important; */
}

.guess_table_cell.partial {
    background: #c09b3d !important;
    /* background: #e7bd51 !important; */
}

.guess_table_cell.wrong {
    background: #af3634 !important;
    /* background: #df5351 !important; */
}

.guess_table_cell.wrong.up::before {
    content: "▲";
    position: absolute; 
    left: 50%;
    transform: translateX(-50%) scaleX(2);
    bottom: 50%;
    margin-bottom: 3px;
}
.guess_table_cell.wrong.down::after {
    content: "▼";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleX(2);
    top: 50%;
    margin-top: 3px;
}